body {
  margin: 0px;
}

.headContainer {
  display:flex;
  justify-content: center;
  border-bottom: 2px solid lightgray;
}

.header {
  width: 100%;
  max-width: 1600px;
}

.services {
  display: flex;
  width: 100%;
  margin: 2% 10%;
  max-width: 1400px;
}

.leftCol {
  margin-top: 2%;
}

#carousel {
  margin-bottom:10px;
}

#reviews {
flex: 0 0 65%;
}


.rightCol {
}

#addToCart {
}

#seller {
}

.footContainer {
  display:flex;
  justify-content: center;
  align-items: center;;
  flex-direction: column;
}

.store {
  width: 100%;
  max-width: 1600px;
}

.similar {
  width: 100%;
  max-width: 1600px;
}

.footer {
  width: 100%;
  max-width: 1600px;
}